.todos-toolbar {
    width: 100%;
    border-top: 1px solid #e6e6e6;
    height: 40px;
    position: relative;
    }

.todos-toolbar_unready-counter, .todos-toolbar_filters, .todos-toolbar_clear-completed {
    margin: auto;
    position: absolute;
    }

.todos-toolbar_unready-counter {
    left: 1px;
    }

.todos-toolbar_filters {
    width: 230px;
    height: 30px;
    top: 0; left: 0; bottom: 0; right: 0;
    }

.todos-toolbar_clear-completed {
    right: 1px;
    }